/*
	Space marine adventures style.css 
		© 2018 onyokneesdog
	
	last edit: 15.07.2018
*/

body {
	background-color: #000;
}

@font-face {
	font-family: '8bit';
	src: url('8bit.ttf');
}

#deep-space {
	position: absolute !important;
	z-index: 0;
}

.cell {}

.entity {
	position: absolute !important;
	z-index: 1;
}

.dynamic {
	position: absolute !important;
	z-index: 2;
}

.message {
	position: absolute !important;
	font-family: '8bit';
	font-size: 12px;
	z-index: 3;
	color: #fff;
	background-color: #000;
	padding: 4px;
	opacity: 0.8;
}

#debug {
	position: absolute !important;
	font-family: '8bit';
	font-size: 12px;
	z-index: 9;
	color: #fff;
	left: 20px;
	top: 100px;
}

#hero {
	position: absolute !important;
	z-index: 10;
}